.box-menu {
  grid-area: menu;
  align-self: center;
}

.box-presentation {
  grid-area: presentation;
  align-self: center;
}

.box-footer {
  grid-area: footer;
  align-self: flex-end;
}

.wrapper {
  margin: 0 30vh 0 30vh;
  width: auto;
  display: grid;
  grid-template-areas:
    "menu"
    "presentation"
    "footer";
  grid-template-rows: 180px auto auto;
  grid-gap: 5px;
  height: 100vh;
}

/*

#profile p {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
li {
  padding: 0 10px 0 0;
}
*/
