body {
  font-family: spirequal;
  font-size: 1.2em;
  color: #333;
  font-weight: 600;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "spirequal";
  src: local("spirequal"), url(./../fonts/nimbusmono.otf) format("truetype");
}

#root {
  background-color: #fff;
}
