body {
  margin: 0;
  font-family: spirequal;
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "spirequal";
  src: local("spirequal"), url(./../fonts/spirequal.ttf) format("truetype");
}

#root {
  background-color: #fff;
}
