body {
  font-family: spirequal;
  color: #333;
  background-color: #fff;
  font-weight: 600;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "spirequal";
  src: local("spirequal"), url(./../fonts/raleway_thin.ttf) format("truetype");
}
