img {
  width: 125px;
  margin-top: 20px;
  border-radius: 100%;
  opacity: 1;
}

#cv {
  padding: 0.5% 5% 3% 0%;
}

#profile {
  text-align: center;
  display: grid;
  text-align: -webkit-center;
  padding-bottom: 6%;
}

#cv p {
  padding: 4.3% 5% 3% 0%;
}

#firstArticle {
  padding-top: 10%;
}

button {
  padding: 0rem 0rem;
}

.btn-lg {
  padding: 0.5rem 0 0 0;
  font-weight: 600;
  text-align: center;
  font-size: large;
  color: #333;
  border: 0;
  width: fit-content;
}
