.profile {
  display: grid;
  justify-content: center;
}

img {
  border-radius: 5%;
  width: 150px;
}

button {
  margin-top: 10px;
  background-color: #fff;
  border: 0px;
  color: black;
  width: 40px;
  height: 22px;
  justify-self: center;
  border-radius: 5%;
}
