li {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.active,
li:hover {
  color: #b76e79;
}

.navbar-nav {
  display: contents;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #b76e79;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

#navbarBlock {
  display: contents;
}

.nav-link.disabled {
  pointer-events: none;
}

.nav-item {
  margin: 0 10px 0 10px;
  padding: 0;
}
